.home/
.appdata/
.localappdata/

*.log
*.err.log
*.out.log

**/.env
**/.env.*
!**/.env.example

**/vendor/
**/node_modules/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.phpunit.result.cache
tmp/

**/.idea/
**/*.iml
